.addProductBox{
    background-color:rgb(235 232 210 / 30%);
    text-align: center;
    margin: 50px 200px;
    padding: 50px;
    box-shadow: 5px 10px 15px #888888;

    .inputbox{
        margin-bottom: 18px;
    }
    .addbtn{
            font-size: 11px;
    }


}